body{
    background: url("p.jpg")
    no-repeat center center fixed;
    background-size: cover;
    height: 100px;
    width: 300;
}
h1{
    font-family: 'Ubuntu', sans-serif;
    color: white;
    text-align: center;
}
form{
    color: white;
    text-align: center;
    margin-top: 100px;
    margin-left: 100px;
    font-family: 'Pacifico', cursive;
}

